/* Overview */

#overview {
    spacing: 12px;
}

.window-caption {
    color: white;
    spacing: 25px;
}

.workspace-controls {
    padding-top: 9px;
    visible-width: 32px; /* Amount visible before hovering */
}

.workspace-thumbnails-background {
    border: 1px solid rgba(255,255,255,0.1);
    border-right: 0px;
    border-radius: 5px 0px 0px 5px;
    background-color: rgba(0,0,0,0.4);
    padding: 8px;
    box-shadow: inset 0px 0px 3px rgba(0,0,0,0.8);
}

.workspace-thumbnails-background:rtl {
    border-right: 1px;
    border-left: 0px;
    border-radius: 0px 5px 5px 0px;
}

.workspace-thumbnails {
    spacing: 8px;
}

.workspace-thumbnail-indicator {
    border: 1px solid rgba(255,255,255,0.8);
	box-shadow: inset 0px 0px 2px rgba(0,0,0,0.8);
}

.window-caption {
    font-size: 9pt;
    padding: 2px 8px;
    -shell-caption-spacing: 4px;
}

.window-close {
    background-image: url("img/close-window.svg");
    height: 34px;
    width: 34px;
    -shell-close-overlap: 20px;
}

.window-close:rtl {
    -st-background-image-shadow: 2px 2px 6px rgba(0,0,0,0.5);
}

/* Dash */

#dash {
    padding: 5px 4px;
}

#viewSelector {
    spacing: 12px;
    font-size: 10pt;
    padding: 1em 0;
}

#viewSelectorTabBar {
    padding-bottom: 1.2em;
}

#searchArea {
    padding: 0px 32px;
    padding-bottom: 1.2em;
}

#searchEntry {
    padding: 0 .8em;
    width: 220px;
    background-color: rgba(0,0,0,0.25);
    border: 1px solid rgba(255,255,255,0.1);
    border-radius: 4px;
    box-shadow: inset 0px 0px 2px rgba(0,0,0,0.8);
    caret-color: #ccc;
    caret-size: 1px;
    color: #ccc;
    height: 2em; /* Hack used to fix icon height issue */
}

#searchEntry:focus,
#searchEntry:hover {
    background-color: rgba(0,0,0,0.35);
    color: #fff;
}

.search-entry-icon {
    icon-size: 1.1em;
    color: #ccc;
}

.view-tab-title {
    border: 1px solid transparent;
    border-radius: 3px;
    color: #ccc;
    font-weight: bold;
    padding: .45em .8em;
}

.view-tab-title:hover,
.view-tab-title:selected {
    color: #fff;
}

.view-tab-title:selected {
    border-color: rgba(0,0,0,0.2);
    background-gradient-direction: vertical;
	background-gradient-start: rgba(255,255,255,0.3);
	background-gradient-end: rgba(255,255,255,0.1);
	box-shadow: inset 0px 0px 2px rgba(255,255,255,0.3);
}

#searchResults {
    padding-top: 9px;
    padding-right: 32px;
    spacing: 12px;
}

#searchResults:rtl {
    padding-right: 0px;
    padding-left: 32px;
}

#searchResultsContent {
    spacing: 36px;
}

.search-statustext,
.search-section-header {
    padding: .45em .8em;
    spacing: 4px;
    color: #fff;
}

.search-statustext {
    font-size: 10pt;
}

.search-section-header {
    font-size: 9pt;
    background-gradient-direction: horizontal;
    background-gradient-end: rgba(255,255,255,0);
    background-gradient-start: rgba(255,255,255,0.05);
    border-radius: 3px;
}

.search-section-results {
    color: #ffffff;
    padding-top: 12px;
}

.search-section-list-results {
    spacing: 4px;
}

.results-container {
    spacing: 4px;
}

.search-providers-box {
    spacing: 12px;
    padding-top: 1em;
}

/* Text labels are an odd number of pixels tall. The uneven top and bottom
 * padding compensates for this and ensures that the label is vertically
 * centered */
.dash-search-button {
    width: 208px;
    padding: .45em .8em;
    border-radius: 3px;
    border-color: rgba(0,0,0,0.2);
    background-gradient-direction: vertical;
	background-gradient-start: rgba(255,255,255,0.3);
	background-gradient-end: rgba(255,255,255,0.1);
	box-shadow: inset 0px 0px 2px rgba(255,255,255,0.3);
}

.dash-search-button:hover,
.dash-search-button:selected {
	background-gradient-start: rgba(255,255,255,0.4);
	box-shadow: inset 0px 0px 2px rgba(255,255,255,0.4);
}

.dash-search-button-label {
    color: white;
    font-weight: bold;
}

/* Apps */

.icon-grid {
    padding: 0 .8em;
    spacing: 36px;
    -shell-grid-item-size: 100px;
}

.contact-grid {
    padding: 0 .8em;
    spacing: 36px;
    -shell-grid-item-size: 272px; /* 2 * -shell-grid-item-size + spacing */
}

.icon-grid .overview-icon {
    icon-size: 64px;
}

.all-app {
    padding-top: 9px;
    padding-right: 32px;
    spacing: 20px;
}

.all-app:rtl {
    padding-right: 0px;
    padding-left: 32px;
}

.app-filter {
    border: 1px solid transparent;
    border-radius: 3px;
    font-weight: bold;
    width: 208px;
    color: #ccc;
    padding: .45em .8em;
}

.app-filter:hover,
.app-filter:selected,
.app-filter:focus {
    color: #fff;
}

.app-filter:selected,
.app-filter:focus {
    border-color: rgba(0,0,0,0.2);
    background-gradient-direction: vertical;
	background-gradient-start: rgba(255,255,255,0.3);
	background-gradient-end: rgba(255,255,255,0.1);
	box-shadow: inset 0px 0px 2px rgba(255,255,255,0.3);
}

.dash-item-container > .app-well-app {
    padding: 4px;
}

.remove-favorite-icon { /* Is this still used? */
    color: #a0a0a0;
}

.remove-favorite-icon:hover { /* Is this still used? */
    color: white;
    icon-shadow: black 0px 1px 1px;
}

.app-well-app > .overview-icon,
.remove-favorite > .overview-icon,
.search-result-content > .overview-icon {
    border-radius: 4px;
    padding: 3px;
    border: 1px solid transparent;
    font-size: 9pt;
    color: white;
    text-align: center;
    spacing: 1px;
}

.contact {
    width: 258px; /* Same width as two normal results + spacing */
    height: 110px; /* Aspect ratio = 1.75. Normal US business card ratio */
    border-radius: 4px;
    padding: 3px;
    border: 1px solid transparent;
}

.contact-content {
    border-radius: 4px;
    padding: 10px;
    width: 232px;
    height: 84px;
    background-color: rgba(0,0,0,0.5);
    color: white;
}

.contact-icon {
    padding-right: 10px;
}

.contact-details {
    padding: 0;
}

.contact-details-alias {
    font-size: 10pt;
    padding-bottom: 10px;
}

.contact-details-status {
    font-size: 9pt;
}

.contact-details-status-icon {
    padding-right: 5px;
}

.contact:selected,
.app-well-app:selected > .overview-icon,
.search-result-content:selected > .overview-icon,
.app-well-app.running > .overview-icon {
    background-gradient-direction: vertical;
	background-gradient-start: rgba(255,255,255,0.3);
	background-gradient-end: rgba(255,255,255,0.1);
	box-shadow: inset 0px 0px 2px rgba(255,255,255,0.3);
	border-color: rgba(0,0,0,0.2);
}

.contact:selected:hover,
.app-well-app:selected:hover > .overview-icon,
.search-result-content:selected:hover > .overview-icon,
.app-well-app.running:hover > .overview-icon {
	background-gradient-start: rgba(255,255,255,0.4);
    box-shadow: inset 0px 0px 2px rgba(255,255,255,0.4);
}

.contact:hover, 
.app-well-app:hover > .overview-icon,
.remove-favorite:hover > .overview-icon,
.search-result-content:hover > .overview-icon {
	background-color: rgba(255,255,255,0.1);
}

.app-well-menu {
    font-size: 10pt;
    -boxpointer-gap: 2px;
}
