/* Shared button properties */

.dash-search-button, .notification-button, .notification-icon-button, .modal-dialog-button, .hotplug-notification-item {
	background-gradient-direction: vertical;
	background-gradient-start: #FCFCFC;
	background-gradient-end: #DFDFDF;
	border-radius: 5px;
	border: 1px solid rgba(0,0,0,0.9);
	box-shadow: inset 0px -1px 0px 0px rgba(255,255,255,0.5);
	color: rgba(0,0,0,0.9);
	text-shadow: rgba(255,255,255,0.9) 0px 1px 0px;
	font-size: 9pt;
	padding: 5px 5px ;
	font-weight: bold;
    text-align: left;
}


.dash-search-button:hover, .notification-button:hover,
.notification-icon-button:hover, .hotplug-notification-item:hover, .modal-dialog-button:hover {
    background-color: white;
    border: 1px solid rgba(0,0,0,0.6);
    color: rgba(0,0,0,0.8);
}

.dash-search-button:selected, .notification-button:focus,
.notification-icon-button:focus, .hotplug-notification-item:focus,
.modal-dialog-button:focus {

}

.dash-search-button:active, .dash-search-button:pressed,
.notification-button:active, .notification-icon-button:active,
.hotplug-notification-item:active, .modal-dialog-button:active, .modal-dialog-button:pressed {
    border: 1px solid rgba(0,0,0,0.5);
    box-shadow: inset 0px 1px 4px 0px rgba(0,0,0,0.5);
    text-shadow: rgba(255,255,255,0.9) 0px 1px 0px;
    color: rgba(0,0,0,0.8);
}
