/* Calendar popup */

#calendarEventsArea {
    /* this is the width of the second column of the popup */
    min-width: 220px;
}

.calendar-vertical-separator {
    -stipple-width: 1px;
    -stipple-color: #555;
    width: 3px;
}

.calendar {
    padding: 0em 1.5em .45em 1.5em;
    spacing-rows: 0px;
    spacing-columns: 0px;
}

.calendar-month-label {
    color: #ccc;
    font-size: 7.5pt;
    font-weight: bold;
    padding-top: 1.8em;
    padding-bottom: 1.8em;
}

.calendar-change-month-back {
    width: 18px;
	height: 12px;
    background-image: url("img/calendar-arrow-left.svg");
}

.calendar-change-month-back:hover,
.calendar-change-month-back:active {
    background-image: url("img/calendar-arrow-left-hover.svg");
}

.calendar-change-month-back:rtl {
    background-image: url("img/calendar-arrow-right.svg");
}

.calendar-change-month-back:rtl:hover,
.calendar-change-month-back:rtl:active {
    background-image: url("img/calendar-arrow-right-hover.svg");
}

.calendar-change-month-forward {
    width: 18px;
	height: 12px;
    background-image: url("img/calendar-arrow-right.svg");
}

.calendar-change-month-forward:hover,
.calendar-change-month-forward:active {
    background-image: url("img/calendar-arrow-right-hover.svg");
}

.calendar-change-month-forward:rtl {
    background-image: url("img/calendar-arrow-left.svg");
}

.calendar-change-month-forward:rtl:hover,
.calendar-change-month-forward:rtl:active {
    background-image: url("img/calendar-arrow-left-hover.svg");
}

.datemenu-date-label {
    padding: .45em 1.5em 0em 1.5em;
    color: #fff;
    font-weight: bold;
}

.calendar-day-base {
    font-size: 7.5pt;
    text-align: center;
    width: 2.4em;
    height: 2.4em;
}

.calendar-day-base:hover {
    background-color: rgba(255,255,255,0.1);
}

.calendar-day-base:active {
    background-gradient-direction: vertical;
	background-gradient-start: rgba(255,255,255,0.2);
	background-gradient-end: rgba(255,255,255,0.1);
}

.calendar-day-base:hover,
.calendar-day-base:active {
    color: #fff;
}

.calendar-day-heading {
    color: #ccc;
    height: 2em;
}

.calendar-week-number {
    color: #ccc;
    font-weight: normal;
}

/* Hack used in lieu of border-collapse - see calendar.js */
.calendar-day {
    border: 1px solid #444;
    color: #ccc;
    border-top-width: 0;
    border-left-width: 0;
}

.calendar-day-top {
    border-top-width: 1px;
}

.calendar-day-left {
    border-left-width: 1px;
}

.calendar-nonwork-day {
    background-color: rgba(128,128,128,0.1);
}

.calendar-today,
.calendar-today:hover,
.calendar-today:active {
    background-gradient-direction: vertical;
	background-gradient-start: rgba(255,255,255,0.3);
	background-gradient-end: rgba(255,255,255,0.1);
    color: #fff;
    font-weight: bold;
}

.calendar-other-month-day {
    color: #666;
}

.calendar-day-with-events {
    font-weight: bold;
    color: #fff;
}

.events-header-vbox {
    spacing: 10pt;
    padding: .6em 1.5em .45em 1.5em;
}

.events-header-hbox {
    padding-top: .25em;
}

.events-day-header {
    font-size: 9pt;
    font-weight: bold;
    color: #fff;
}

.events-day-dayname {
    font-size: 9pt;
    color: #fff;
    text-align: left;
}

.events-day-dayname:rtl {
    text-align: right;
}

.events-day-time {
    font-size: 9pt;
    color: #ccc;
    text-align: right;
}

.events-day-time:rtl {
    text-align: left;
}

.events-day-task {
    font-size: 9pt;
    color: #999;
}

.events-day-name-box {
    min-width: 0pt;
}

.events-time-box {
    min-width: 53pt;
    padding-right: 6pt;
}

.events-time-box:rtl {
    padding-right: 0px;
    padding-left: 6pt;
}

.url-highlighter {
    link-color: #ccccff;
}
