/*Contacts*/

.contact {
    width: 272px; /* Same width as two normal results + spacing */
    height: 118px; /* Aspect ratio = 1.75. Normal US business card ratio */
    border-radius: 5px;
    padding: 3px;
    border: 1px rgba(0,0,0,0);
    transition-duration: 100;
}

.contact-content {
    border-radius: 2px;
    padding: 8px;
    width: 232px;
    height: 84px;
    background-color: white;
    color: black;
    text-align: left;
}

.contact-icon {
  border-radius: 5px;
}

.contact-details {
  padding: 6px 8px 11px 8px;
}

.contact-details-alias {
  font-size: 16px;
  padding-bottom: 11px;
}

.contact-details-status {
  font-size: 11pt;
}

.contact-details-status-icon {
  padding-right: 2px;
}

.contact:hover {
    background-color: rgba(0,0,0,0.4);
    transition-duration: 100;
    boder: 1px solid rgba(0,0,0,0.6);
}

/*End Contacts*/
