/*#####################################################################
# CUSTOMIZATION FILE                                                  #
#                                                                     #
# Below you can set some customization options for the theme.         #
#                                                                     #
# To enable an option you have to put a "/" after the "*" at the end  #
# of the description. To disable an option again, remove the "/".     #
# All customization options are disabled by default.                  #
#                                                                     #
# If you know a little about css, you can also put your own           #
# customization code here. Just copy some original code from the      #
# theme and paste it in this file. The code here will overwrite the   #
# original code.                                                      #
#                                                                     #
#####################################################################*/


/*#################################################################*//*
# DASH/DOCK WITH BACKGROUND
# 
# This will enable a background color for the dash/dock like the 
# backgrounds from the other panels in the activities overview.
# 
# *

#dash {
    background-color: rgba(0,0,0,0.4);
    box-shadow: inset 0px 0px 3px rgba(0,0,0,0.8);
    border: 1px solid rgba(255,255,255,0.1);
    border-left: 0px;
    border-radius: 0px 5px 5px 0px;
    padding: 4px;
}

#dash:rtl {
    border-left: 1px;
    border-right: 0px;
    border-radius: 5px 0px 0px 5px;
}

.workspace-controls {
    padding-top: 0px;
}


/*#################################################################*//*
# TOP PANEL WITHOUT BORDER
# 
# The light border at the top panel may look a little weird when
# maximizing windows. So if you're maximizing windows a lot and you 
# don't like the light border, you can turn it off here.
# 
# *

#panel {
    border: none;
}

