/* Font properties */

stage {
    font-family: cantarell, sans-serif;
}

/* Hyperlink properties */

.shell-link {
    color: #0000ff;
    text-decoration: underline;
}

.shell-link:hover {
    color: #0000e0;
}

.label-shadow {
    color: rgba(0,0,0,0.5);
}

/* Shared scrollbar properties */ 

StScrollBar {
    padding: 0px;
}

StScrollView.vfade {
    -st-vfade-offset: 68px;
}

StScrollView StScrollBar {
    min-width: 12px;
    min-height: 12px;
}

StScrollBar StBin#trough {
	background-color: rgba(0,0,0,0.2);
    border-radius: 6px;
}

StScrollBar StButton#vhandle,
StScrollBar StButton#hhandle {
    background-color: rgba(255,255,255,0.25);
    box-shadow: inset 0px 0px 2px rgba(255,255,255,0.25);
    border: 1px solid transparent;
    border-radius: 6px;
}

StScrollBar StButton#hhandle:hover,
StScrollBar StButton#vhandle:hover {
    background-color: rgba(255,255,255,0.3);
    box-shadow: inset 0px 0px 2px rgba(255,255,255,0.3);
}

/* Shared tooltip properties */

StTooltip StLabel {
    border: none;
    border-radius: 3px;
    padding: 2px 10px;
    background-color: rgba(0,0,0,0.8);
    color: #ffffff;
    font-size: 9pt;
    font-weight: normal;
    text-align: center;
}

/* Shared button properties */

.dash-search-button, .notification-button, .notification-icon-button,
.hotplug-notification-item, .hotplug-resident-eject-button,
.modal-dialog-button {
    color: white;
    background-gradient-direction: vertical;
    background-gradient-start: rgba(255,255,255,0.3);
    background-gradient-end: rgba(255,255,255,0.1);
    box-shadow: inset 0px 0px 2px rgba(255,255,255,0.3);
	border: 1px solid rgba(0,0,0,0.2);
	border-radius: 3px;
}

.dash-search-button:hover, .notification-button:hover,
.notification-icon-button:hover, .hotplug-notification-item:hover,
.hotplug-resident-eject-button:hover, .modal-dialog-button:hover {
    background-gradient-start: rgba(255,255,255,0.4);
    box-shadow: inset 0px 0px 2px rgba(255,255,255,0.4);
}

.dash-search-button:active, .dash-search-button:pressed,
.notification-button:active, .notification-icon-button:active,
.hotplug-notification-item:active, .hotplug-resident-eject-button:active,
.modal-dialog-button:active, .modal-dialog-button:pressed {
    background-gradient-start: rgba(255,255,255,0.2);
    background-gradient-end: rgba(255,255,255,0.3);
    box-shadow: inset 0px 0px 2px rgba(255,255,255,0.3);
}
