/* On-screen Keyboard */

#keyboard {
    background: #DADADA;
    border-top: 1px solid rgba(0,0,0,0.3);
    box-shadow: inset 0px 1px 0px 0px rgba(255,255,255,0.7);
}

.keyboard-layout {
    spacing: 5px;
    padding: 5px;
}

.keyboard-row {
    spacing: 15px;
}

.keyboard-key {
    min-height: 35px;
    min-width: 35px;
    background-gradient-start: #393939;
    background-gradient-end: #1e1e1e;
    background-gradient-direction: vertical;
    font-size: 14pt;
    font-weight: bold;
    border-radius: 5px;
    border: 1px solid rgba(0,0,0,0.7);
    color: white;
    box-shadow: inset 0px 1px 2px 0px rgba(255,255,255,0.2);
    text-shadow: rgba(0,0,0,0.6) 0px 1px 0px;
}

.keyboard-key:grayed {
   color: #808080;
   border-color: #808080;
}

.keyboard-key:checked,
.keyboard-key:hover {
    background: #303030;
    border: 1px solid black;
}

.keyboard-key:active {
    box-shadow: inset 0px 1px 2px 0px rgba(0,0,0,0.3);
}

.keyboard-subkeys {
    color: white;
    padding: 5px;
    -arrow-border-radius: 10px;
    -arrow-background-color: #090909;
    -arrow-border-width: 2px;
    -arrow-border-color: white;
    -arrow-base: 20px;
    -arrow-rise: 10px;
    -boxpointer-gap: 5px;
}
