/* Message Tray */

#message-tray {
    border-top: 1px solid rgba(255,255,255,0.1);
    background-color: rgba(0,0,0,0.4);
    box-shadow: inset 0px 0px 3px rgba(0,0,0,0.8);
    height: 36px;
    color: #fff;
}

#notification {
    font-size: 10pt;
    border-radius: 5px 5px 0px 0px;
    background: rgba(0,0,0,0.85);
    padding: 10px 10px 8px 10px;
    spacing-rows: 12px;
    spacing-columns: 12px;
    width: 34em;
    border: none;
}

#notification.multi-line-notification {
    padding-bottom: 10px;
}

/* We use row-span = 2 for the image cell, which prevents its height preferences to be
   taken into account during allocation, so its height ends up being limited by the height
   of the content in the other rows. To avoid showing a stretched image, we set the minimum
   height of the table to be ICON_SIZE + IMAGE_SIZE + spacing-rows = 24 + 125 + 10 = 159 */
.notification-with-image {
    min-height: 159px;
}

.summary-boxpointer {
    color: #fff;
    -arrow-background-color: rgba(0,0,0,0.85);
	-arrow-border-radius: 5px;
    -arrow-base: 18px;
    -arrow-rise: 10px;
    -arrow-border-width: 0px;
    -boxpointer-gap: 3px;
}

.summary-boxpointer #notification {
    background: rgba(0,0,0,0) !important;
}

.summary-boxpointer #summary-right-click-menu {
    font-size: 10pt;
    padding: .5em 1px;
    min-width: 120px;
}

#summary-notification-stack-scrollview {
    max-height: 18em;
    padding-top: 10px;
    padding-bottom: 10px;
}

#summary-notification-stack-scrollview > .top-shadow, #summary-notification-stack-scrollview > .bottom-shadow {
    height: 1em;
}

#summary-notification-stack-scrollview:ltr {
    padding-right: 10px;
}

#summary-notification-stack-scrollview:rtl {
    padding-left: 10px;
}

#notification-scrollview {
    max-height: 12em;
}

#notification-scrollview > .top-shadow, #notification-scrollview > .bottom-shadow {
    height: 1em;
}

#notification-scrollview:ltr > StScrollBar {
    padding-left: 10px;
}

#notification-scrollview:rtl > StScrollBar {
    padding-right: 10px;
}

#notification-body {
    spacing: 5px;
}

#notification-actions {
    spacing: 10px;
}

#notification StEntry {
    padding: .45em;
    background-color: rgba(0,0,0,0.3);
    border: 1px solid rgba(255,255,255,0.1);
    border-radius: 4px;
    box-shadow: inset 0px 0px 2px rgba(0,0,0,0.8);
    caret-color: #ccc;
    caret-size: 1px;
    color: #ccc;
}

#notification StEntry:focus,
#notification StEntry:hover {
    background-color: rgba(0,0,0,0.4);
    color: #fff;
}

.notification-button {
    padding: .45em .8em;
}

.notification-icon-button {
    padding: .45em;
}

.notification-icon-button > StIcon {
    icon-size: 36px;
}

/* Hotplug */

.hotplug-transient-box {
    padding-bottom: 8px;
    spacing: 5px;
}

.hotplug-notification-item {
    padding: .25em;
}

.hotplug-notification-item-icon {
    icon-size: 24px;
    padding-right: .5em;
}

.hotplug-resident-mount {
    color: #ccc;
}

.hotplug-resident-mount:hover {
    color: #fff;
}

.hotplug-resident-mount-label {
    padding: 0 10px;
}

.hotplug-resident-mount-icon {
    icon-size: 24px;
}

.hotplug-resident-eject-icon {
    icon-size: 16px;
}

.hotplug-resident-eject-button {
    padding: .45em;
}

/* Chat */

.chat-log-message {
    color: #888;
}

.chat-group-sent, .chat-group-received, .chat-group-meta {
    padding-bottom: 8px;
    spacing: 0px;
}

.chat-received {
    color: #fff;
    padding-left: 10px;
    padding-right: 2em;
    border: 1px solid rgba(255,50,50,0.5);
    border-right: none;
    border-bottom: none;
    border-top: none;
    text-align: left;
}

.chat-sent {
    color: #fff;
    padding-left: 2em;
    padding-right: 10px;
    border: 1px solid rgba(50,50,255,0.5);
    border-left: none;
    border-bottom: none;
    border-top: none;
    text-align: right;
}

.chat-meta-message {
    font-size: 9pt;
    color: #666;
}

.subscription-message {
    font-style: italic;
}

/* Notification source items */

/* The spacing and padding on the summary is tricky; we want to keep
 * the icons from touching each other or the edges of the screen, but
 * we also want them to be "Fitts"-y with respect to the edges, so the
 * summary area's bottom and right padding must actually be part of
 * the icons. However, we can't put *all* of the padding into the
 * icons, because then the summary would be 0x0 when there were no
 * icons in it, and so you wouldn't be able to hover over it to
 * activate it.
 *
 * Also, the spacing between a summary-source's icon and title is
 * actually specified as padding-left in source-title, because we
 * want the spacing to collapse along with the title.
 */
#summary-mode {
    padding: 2px 0px 0px 4px;
    height: 36px;
}

#summary-mode:rtl {
    padding: 2px 4px 0px 0px;
}

.summary-source-button {
    color: #fff;
    text-shadow: black 0px 1px 1px;
}

.summary-source-button:ltr {
    padding-right: 12px;
}

.summary-source-button:selected .summary-source {
    background-image: none;
    border-image: none;
}

.summary-source-button:expanded:selected .summary-source {
    background-image: none;
    border-image: none;
}

.summary-source-button:expanded:selected {
    background-image: none;
    border-image: none;
}

.summary-source-button:rtl {
    padding-left: 12px;
}

.summary-source-button:last-child:ltr {
    padding-right: 12px;
}

.summary-source-button:last-child:rtl {
    padding-left: 12px;
}

.summary-source {
    padding-right: 4px;
    padding-left: 4px;
}

.summary-source-counter {
    color: white;
    background-color: rgba(0,0,0,0.8);
    text-shadow: black 0px 1px 1px;
    font-size: 9pt;
    border-radius: 1em;
    min-height: 1em;
    min-width: 1em;
}

.source-title {
    font-size: 9pt;
    font-weight: bold;
    padding-left: 4px;
}

.source-title:rtl {
    padding-left: 0px;
    padding-right: 4px;
}
