
/* Workspace Switcher */
.workspace-switcher-group {
    padding: 12px;
}

.workspace-switcher-container {
    background-color: rgba(0,0,0,0.85);
    border: 1px solid rgba(255,255,255,0.3);
    border-radius: 5px;
    box-shadow: inset 0px 3px 3px 0px rgba(255,255,255,0.15);
    padding: 20px;
}

.workspace-switcher {
    padding: 10px 20px 10px 20px;
    padding: 4px;
    spacing: 8px;
}

.ws-switcher-active-up {
    background-color: rgba(255,255,255,0.85);
    border-radius: 5px;
    height: 20px;
}

.ws-switcher-active-down {
    background-color: rgba(255,255,255,0.85);
    border-radius: 5px;
    height: 20px;
}

.ws-switcher-box {
   	height: 96px;
    background-color: rgba(0,0,0,0.85);
    border-radius: 5px;
}
