[GdmGreeterTheme]
Encoding=UTF-8
Greeter=Opiate-GDM.xml
Name=Darkened Opiate GDM
Description=Dark and Easy on the Eyes GDM.
Author=DLKreations
Copyright=GPL
Screenshot=screenshot.jpg
