[Desktop Entry]
Name=Frugalware

X-KDE-PluginInfo-Name=Frugalware
X-KDE-PluginInfo-Author=Frugalware Devel Team
X-KDE-PluginInfo-Email=vmiklos@frugalware.org
X-KDE-PluginInfo-License=FreeArt
