[KSplash Theme: Frugalware]
Name = Frugalware
Description = KDE Splash Screen For Frugalware with Faenza icons
Version = 1.0
Author = Frugalware Devel Team
Copyright = GPL 2011 | http://frugalware.org
Homepage = frugalware.org
Engine = KSplashX
