/*********
* Button *
*********/

.button {

    -GtkButton-child-displacement-x:             0;
    -GtkButton-child-displacement-y:             0;
    -GtkButton-default-border:                 0;
    -GtkButton-image-spacing:                    0;
    -GtkButton-inner-border:                    3;
    -GtkButton-interior-focus:                  true;

    background-image: -gtk-gradient (linear,
        left top,
        left bottom,
        from (shade (@bg_color, 1.15)),
        to (shade (@bg_color, 1.03)));

    -unico-border-gradient: -gtk-gradient (linear,
        left top, left bottom,
        from (shade (@bg_color, 0.78)),
        to (shade (@bg_color, 0.60)));
}

.button:hover {
    color:@text_color;
}

.button:active,
.button:hover:active {

    background-image: -gtk-gradient (linear,
				     left top,
				     left bottom,
				     from (shade (@bg_color, 0.69)),
				     to (shade (@bg_color, 0.91)));

    -unico-border-gradient: -gtk-gradient (linear,
                     left top, left bottom,
                     from (shade (@bg_color, 0.54)),
                     to (shade (@bg_color, 0.68)));
}

.button:insensitive {
    background-image: -gtk-gradient (linear,
				     left top,
				     left bottom,
                     from (alpha (#fff, 0.20)),
                     to (alpha (#000, 0.05)));

    -unico-border-gradient: -gtk-gradient (linear,
                     left top, left bottom,
                     from (shade (@bg_color, 0.76)),
                     to (shade (@bg_color, 0.70)));
}

.toolbar .button {
    padding: 3;
	icon-shadow: none;
}

.button.warning {
    background-image: -gtk-gradient (linear,
				     left top,
				     left bottom,
                     from (#e56453),
                     to (#bb2332));

    -unico-border-gradient: -gtk-gradient (linear,
                     left top, left bottom,
                     from (#dd3b27),
                     to (#791235));
}

/*************************** 
* Secondary Toolbar Button *
***************************/

.secondary-toolbar.toolbar .button {
    -GtkButton-inner-border:    0;
    padding:                    0;
    -unico-outer-stroke-width:  0;
}

.secondary-toolbar.toolbar .button:active,
.secondary-toolbar.toolbar .button:hover:active {

        -unico-inner-stroke-gradient: -gtk-gradient (linear,
                    left top, left bottom,
                    from (alpha (#000, 0.00)),
                    to (alpha (#000, 0.00)));

        background-image: -gtk-gradient (linear,
                left top,
                left bottom,
                from (alpha (#000, 0.10)),
                to (alpha (#000, 0.10)));

        -unico-border-gradient: -gtk-gradient (linear,
                left top, left bottom,
                from (alpha (#000, 0.30)),
                color-stop (0.15, alpha (#000, 0.10)),
                color-stop (0.85, alpha (#000, 0.10)),
                to (alpha (#fff, 0.50)));
}


