/****************
 * Progress bar *
 ****************/

GtkProgressBar {
padding:        0;
}

GtkProgressBar.progressbar {

    background-image: -gtk-gradient (linear,
                    left top,
                    left bottom,
                    from (shade (@base_color, 0.88)),
                    to (@base_color));

    -unico-border-gradient: -gtk-gradient (linear,
                    left top, left bottom,
                    from (shade (@bg_color, 0.60)),
                    to (shade (@bg_color, 0.78)));
}
